@inherits DisplayBase

<div style="
    background-image: url(https://www.teamhitless.com/wp-content/uploads/2021/06/1718854918_preview_resident-evil-2-remake-ps4-eu-22jun18.png);
    display: inline-block;
    width: 420px;
    height: 200px;
    position: fixed;
    top: -47px;
    z-index: 0;
    background-position: center;"></div>

@if (this.Story != null)
{
<div class="story-events">
    @foreach (var story in this.Story.StoryEvents.OrderBy(x => x.EventTimeStart))
        {
    <div class="event-backdrop" style="background-image:url(@story.Image)">
        <div class="event">
            <button @onclick="@(() => EditStoryEvent(story))">
                <i class="fa fa-pencil-alt fa-lg"></i>
            </button>
            <article>
                <h2>@story.Title</h2>
                <div class="event-time">@($"{story.EventTimeStart:MMMM yyyy}")@((story.EventTimeEnd.HasValue ? $" - {story.EventTimeEnd:MMMM yyyy}" : ""))</div>
                <p class="summary">@story.Summary</p>

                @if (story.Characters != null)
                            {
                <div class="characters">
                    @foreach (var entry in story.Characters)
                                    {
                    <span class="character">@entry.Name</span>
                                    }
                </div>
                            }

                @if (story.Organizations != null)
                            {
                <div class="organizations">
                    @foreach (var entry in story.Organizations)
                                    {
                    <span class="character">@entry.Name</span>
                                    }
                </div>
                            }

                @if (story.Viruses != null)
                            {
                <div class="viruses">
                    @foreach (var entry in story.Viruses)
                                    {
                    <span class="character">@entry.Name</span>
                                    }
                </div>
                            }

                @if (story.Games != null)
                            {
                <div class="viruses">
                    @foreach (var entry in story.Games)
                                    {
                    <span class="character">@entry.Title</span>
                                    }
                </div>
                            }

                @if (story.Movies != null)
                            {
                <div class="viruses">
                    @foreach (var entry in story.Movies)
                                    {
                    <span class="character">@entry.Title</span>
                                    }
                </div>
                            }
            </article>
        </div>
    </div>
        }
</div>
}