@inherits DisplayBase

@if (this.Story is not null)
{
    <PageTitle>@(this.SelectedStoryEvent is not null ? this.SelectedStoryEvent.Title : "")</PageTitle>

    <CascadingValue Value="SelectedStoryEvent">
        <div class="story-header">
            <img src="@this.Story.LogoImage" alt="@this.Story.Title" />
            <h2>@this.Story.Title</h2>
        </div>

        <TimelineSummary StoryEvents="@this.Story.StoryEvents" SelectedStoryEvent="this.SelectedStoryEvent" OnStoryEventSelect="@(x => this.ChangeStoryEvent(x))"></TimelineSummary>

        <div class="story-body">
            <div class="content-one">

                <div class="timeline-options">
                    <i class="fa fa-timeline fa-lg" title="Toggle Timeline Section" onclick="ToggleTimelineSummaryView();"></i>
                    <i class="fa fa-search fa-lg" title="Search Information"></i>
                    <i class="fa fa-plus fa-lg" title="Add Story Event"></i>
                </div>

                <TimelineSelector StoryEvents="@this.Story.StoryEvents" SelectedStoryEvent="this.SelectedStoryEvent" OnStoryEventSelect="@(x => this.ChangeStoryEvent(x))"></TimelineSelector>
            </div>
            <div class="content-two">
                @if (this.SelectedStoryEvent is not null)
                {
                    <TimelineDetails StoryEvent="@this.SelectedStoryEvent"></TimelineDetails>
                }
            </div>
        </div>
    </CascadingValue>
}