@inherits DisplayBase

@if (this.Story != null)
{
    <div class="story-header">
        <img src="@this.Story.LogoImage" alt="@this.Story.Title" />
        <h2>@this.Story.Title</h2>
    </div>

    <div class="story-body">
        <div class="content-one">
            <TimelineSelector StoryEvents="@this.Story.StoryEvents" OnStoryEventSelect="@(x => this.SelectedStoryEvent = x)"></TimelineSelector>
        </div>
        <div class="content-two">
            @if (this.SelectedStoryEvent is not null)
            {
                <TimelineDetails StoryEvent="@this.SelectedStoryEvent"></TimelineDetails>
            }

        </div>
    </div>
}

<style>
    .story-header {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        margin: 10px 0;
    }

    .story-header img {
        margin: 0 22px;
        width: 50px;
    }

    .story-body {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;
        margin-top: 50px
    }

        .story-body .content-one {
            padding: 0 20px;
        }

        .story-body .content-two {
            flex-grow: 1;
        }
</style>