@inherits DisplayBase

<h1>@this.Title</h1>

@if (this.StoryEvents != null)
{
<div class="story-events">
    @foreach (var story in this.StoryEvents.OrderBy(x => x.EventTime))
        {
            <div class="event-backdrop" style="background-image:url(@story.BannerImage)">
                <div class="event">
                    <button @onclick="@(() => EditStoryEvent(story))">
                        <i class="fa fa-pencil-alt fa-lg"></i>
                    </button>
                    <article>
                        <h2>@story.Title</h2>
                        <div class="event-time">@($"{story.EventTime:MMMM yyyy}")</div>
                        <p class="summary">@story.Summary</p>

                        @if (story.CharacterTags != null)
                            {
                        <div class="characters">
                            @foreach (var entry in story.CharacterTags)
                                    {
                            <span class="character">@entry</span>
                                    }
                        </div>
                            }

                        @if (story.OrganizationTags != null)
                            {
                        <div class="organizations">
                            @foreach (var entry in story.OrganizationTags)
                                    {
                            <span class="character">@entry</span>
                                    }
                        </div>
                            }

                        @if (story.VirusTags != null)
                            {
                        <div class="viruses">
                            @foreach (var entry in story.VirusTags)
                                    {
                            <span class="character">@entry</span>
                                    }
                        </div>
                            }

                        @if (story.GameTags != null)
                            {
                        <div class="viruses">
                            @foreach (var entry in story.GameTags)
                                    {
                            <span class="character">@entry</span>
                                    }
                        </div>
                            }

                        @if (story.MovieTags != null)
                            {
                        <div class="viruses">
                            @foreach (var entry in story.MovieTags)
                                    {
                            <span class="character">@entry</span>
                                    }
                        </div>
                            }
                    </article>
                </div>
            </div>
        }
</div>
}