@using Storyline.WebApp.Common;
@code {

    [Parameter]
    public IEnumerable<Models.Storyline.StoryEvent> StoryEvents { get; set; }

    [Parameter]
    public Models.Storyline.StoryEvent SelectedStoryEvent { get; set; } = null;

    [Parameter]
    public EventCallback<Models.Storyline.StoryEvent> OnStoryEventSelect { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected void SelectStoryEvent(Models.Storyline.StoryEvent item)
    {
        this.SelectedStoryEvent = item;
        this.OnStoryEventSelect.InvokeAsync(item);
    }
}

<div class="event-timeline-selector">
    @foreach (var e in this.StoryEvents)
    {
        string selectedItemClass = this.SelectedStoryEvent?.Id == e.Id ? "selected" : "";

        <div class="event-item @selectedItemClass" @onclick="() => SelectStoryEvent(e)" title="@e.Title">
            <i id="@e.Id"></i>
            <div>
                @e.Title<br/>
                <div class="event-date">@Helper.DateHelper.TimeLineInfo(e.EventTimeStart, e.EventTimeEnd, isShort: true)</div>
            </div>
        </div>
    }
</div>


<style>
    .event-timeline-selector {
        margin: 10px 0;
        display: flex;
        flex-flow: column wrap;
        width: 300px;
    }

        .event-timeline-selector .event-item {
            align-items: center;
            border-bottom: 1px solid #222;
            cursor: pointer;
            display: flex;
            justify-content: left;
            padding: 5px 0;
        }

            .event-timeline-selector .event-item > i {
                background-color: #e4e4e4;
                border: 2px solid #000;
                border-radius: 5px;
                display: none;
                height: 15px;
                margin: 0 10px 0 0;
                position: relative;
                width: 15px;
            }

            .event-timeline-selector .event-item > div {
                color: #e0e0e0;
                font-weight: 400;
            }

                .event-timeline-selector .event-item > div .event-date {
                    background-color: #373737;
                    border-radius: 7px;
                    color: #b5b5b5;
                    display: inline-block;
                    font-size: 0.8rem;
                    padding: 0 5px;
                }

            .event-timeline-selector .event-item:hover i, .event-timeline-selector .event-item.selected > i {
                background-color: #20acb4;
                border-color: #02161a;
                transform: rotate(45deg);
            }

            .event-timeline-selector .event-item:hover > div, .event-timeline-selector .event-item.selected > div {
                color: #20acb4;
            }

            .event-timeline-selector .event-item.selected > i {
                background-color: #8b7e50;
                border-color: #8b7e50;
            }

        .event-timeline-selector.hide-date {
            width: auto !important;
        }

            .event-timeline-selector.hide-date .event-item {
                justify-content: center;
            }

                .event-timeline-selector.hide-date .event-item > i {
                    margin: 0;
                }

                .event-timeline-selector.hide-date .event-item > div {
                    display: none;
                }
</style>