
@code {

    [Parameter]
    public Models.StoryEvent StoryEvent {get; set;}


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

@if (this.StoryEvent is not null)
{
    var item = this.StoryEvent;
    <div class="event-details" style="background-image: url('@item.Image');">
        <div class="summary">
            <h3>@item.Title</h3>
            <p>@item.Summary</p>
        </div>
        <div class="moreinfo">
            <div>
                <h5>Characters</h5>
                @if (item.Characters is not null)
                {
                    foreach (var c in item.Characters)
                    {
                        <span>@c.Name</span>
                    }
                }
                
                <h5>Games</h5>
                @if (item.Games is not null)
                {
                    foreach (var g in item.Games)
                    {
                        <span>@g.Title</span>
                    }
                }

                <h5>Movies</h5>
                @if (item.Movies is not null)
                {
                    foreach (var m in item.Movies)
                    {
                        <span>@m.Title</span>
                    }
                }
            </div>
        </div>
    </div>
}
else
{
    <div>?</div>
}


<style>
.event-details {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}
.event-details .summary {
    background-color: rgba(0,0,0,0.8);
    padding: 10px; 
    width: 40%;
}
.event-details .moreinfo {
    background-color: rgba(0,0,0,0.5);
    padding: 10px; 
    width: 60%;
}
</style>